{% extends 'wordchain_app/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Word Chain - Play</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wordchain_app/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wordchain_app/play.css' %}">
</head>


<body>
    {% block content %}
    <div class="game-container">
        <div class="score-container">
            <p id="score">Score: 0</p>
        </div>
        <div class="modal" id="game-modal">
            <div class="modal-content"></div>
        </div>
        <div class="message-container"></div>
        <div class="tile-container"></div>
    </div>
    <div class="button-container">
        <button class="button4" style="margin:10px;" name="clear" id="clear">Clear</button>
        <button class="button4" style="margin:10px;" name="check" id="check">Check</button>
    </div>
    <script type="text/javascript" src="{% static 'wordchain_app/game.js' %}"></script>
    {% endblock %}
</body> 


</html>