{% extends 'wordchain_app/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Word Chain - Stats</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wordchain_app/style.css' %}">
</head>

{% block content %}
    <div style = "text-align-last:center;">
        <h3>
            {{ user }}'s stats
        </h3>
        <h4>
            Highest score: {{ highest_score }}
        </h4>
        <h4>
            Average score: {{ average_score }}
        </h4>
        <h4>
            All games so far:
        </h4>
        <div class="completed-games"></div>
    </div>
    <br>
    <div class="download-container">
        <p id="download-content" hidden>{{ download }}</p>
        <p id="all-scores" hidden>{{ all_scores }}</p>
        <button class="btn button4" id="download-button">Export My Stats</button>
    </div>
    <script id="all-game-stats-js" data-scores="{{ all_scores }}" type="text/javascript" src="{% static 'wordchain_app/stats.js' %}"></script>
{% endblock %}
</html>