# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Default ignored files (from .idea)
/shelf/
/workspace.xml

../.env

# IntelliJ configurations
.idea/

# Ignore google-cloud-sdk used for Google CLI
folder_to_ignore/
diegoenv/
word-chain-env/

static/
staticfiles/