{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Word Chain</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wordchain_app/play.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wordchain_app/style.css' %}">
</head>

<body>
    <div class="game-container">
    <div class="title-container">
        <h1>Word Chain</h1>
    </div>
    </div>
    <div class="login-container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button4" type="submit">Log In</button>
      </form>
      <h4 class="signup-text">Don't have an account?</h4>
      
      <a class="pass-links" href="{% url 'wordchain:sign_up' %}">Sign up here</a>
    </div>  
</body>

</html>

